.hidden{
    display: none;
}
.show{
	display: inline-block;
}
body{
	background:#F5F5F5;
}
h1{
	font-size:40px;
	border: 2px #E6E6E6 solid;
	height:50px;
}
input{
	background: white;
	border: 2px #E6E6E6 solid;
	height: 30px;
	border-radius: 5px;
	color: black;
	margin: 10px;
	padding-left: 5px;
	width: 200px;
}

h1{
	font-family: Calibri;
	margin: 20px;
	color: black;
	box-shadow: 4px 4px 2px black;

}
h3
{
	font-family: Calibri;
	margin: 20px;
	color: black;
}
#listItem
{
	background-color:white;
	vertical-align: center;
	border:0.5px solid gray;
	margin-top: 10px;
}
button{
	background: green;
	border: none;
	border-radius: 5px;
	height: 30px;
	width: auto;
	color: white;
	margin:10px;
	padding-left: 10px;
}
.footer
{
	background:#E6E6E6;
}
.body{
	background: white;
	text-align:center;
	margin:0 auto;
	width: 500px;
	height: auto;
	border: 1px #E6E6E6 solid;
	border-radius: 5px;
	box-shadow: 5px 5px 25px black;
}